
#logo {
    width:30%;
    
}

.container-fluid {
  height: 20px;
}
.nav {
   
    font-size:1em;
    text-align: justify;
}

#main-content {
    min-height: calc (100vh - 80px);
}


footer {
    bottom: 1px;
    position: fixed;
    width: 100%;
    left: 45%;   
}

.large-centered{
    margin-top: 15px;
    text-align: center;
    font-size: medium;
    color: deepskyblue;
}

.error{
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding:12px;
    border: dashed;
}

#copyright-paragraph {
    font-size: 1.0em;
    bottom: 10px;
}
p.capitalize {
    text-transform: capitalize;
  }

#welcome{
    font-size: 2em;
}

#background-image {
    width: 50%;
    margin-left: 25%;
    image-rendering: optimizeQuality;
    

}
#btn-send {
    align-items: center;
}

#btn-details {
    justify-content: center;
}
.message {
   
    padding-bottom: 20%;
    padding-left: 1em;
  
}
/* 
:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  } */
  
  .login, 
  .image {
    size:60 px;

  }
  
  .bg-image {
    background-image: url('/images/UpSmarting_Logo_text_HR_coolvetica_large.png');
    
    background-size: cover;
    background-size: 190%;
 

   
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  
  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
    align-items: center;
  }


  

  
