
#logo {
    width:30%;
    
}

.container-fluid {
  height: 20px;
}
.nav {
   
    font-size:1em;
    text-align: justify;
}



footer {
    bottom: 1px;
    position: fixed;
    width: 100%;
    left: 75%;   
}

.large-centered{
    margin-top: 15px;
    text-align: center;
    font-size: medium;
    color: deepskyblue;
    margin-top: 12.75px;
}

.error{
    color: #D8000C;
    background-color: #FFD2D2;
    margin: 10px 0px;
    padding:12px;
    border: dashed;
}

#copyright-paragraph {
    font-size: 1.0em;
    bottom: 10px;
}
p.capitalize {
    text-transform: capitalize;
  }

#welcome{
    font-size: 2em;
    padding-left: 17em;
}

#background-image {
    width: 50%;
    margin-left: 25%;
    image-rendering: optimizeQuality;
    

}
#btn-send {
    align-items: center;
}

#btn-details {
    justify-content: center;
}
.message {
   
    padding-bottom: 25%;
    padding-left: 1em;
  
}


  
#btn-back {
  position: absolute;
  padding-left: 10px;
}

.card-body {
  padding-left: 40%;
}


  
.chart-container {
    padding-right: 5%;
}

#sensor-form {
    padding-left: 10%;
}