<%- include ('../navbarpage/navbar') %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



 <div class="form-row">
        <div class="form-group col-md-6" >
            <form action="/adduser" method="post">
              
                <div class="form-group col-md-12">
                  <div class="form-row">
                    <label for="username" >Username:</label>
                    <input id="username" type="text" class="form-control" name="username" placeholder="username"/>
                </div>
              </div> 
                <div class="form-row"></div>
                <div class="form-group col-md-6">
                    
                    <label>Password:</label>
                    <input id="password" type="password" class="form-control" name="password" placeholder="password"/>
                </div> 
                <div class="form-row">  
                <div class="form-group col-md-6">
                      
                    <label>Confirm password:</label>
                    <input id="passwordRepeat" type="password" class="form-control" name="passwordRepeat" placeholder="confirm password"/>
                </div>
              </div> 
                <div class="form-group col-md-6">
              
                    <label>Email:</label>
       
                    <input id="email" type="text" class="form-control" name="email" placeholder="email"/>
                </div>
                <div class="form-group col-md-6" >
                  <label>Organization:</label>
               
                  <select id="select" name="organization" class="form-control">
                    <option  value="Choose..." selected>Choose...</option> 
                    <option  value="Nordic Re-Finance">Nordic Re-Finance</option> 
                    <option  value="Flying Couch">Flying Couch</option> 
                    <option  value="ObTek">ObTek</option>
                    <option  value="UpSmarting">UpSmarting</option> 
                </select> 
                </div>
                <div class="form-group col-md-6" >
                
                      <input class="btn btn-outline-primary" type="submit" onclick="getOption()" value="Create User"/>
                </div>


                </div>
              </div>
              <div class="message">

             
                <%if(typeof message == "undefined"){%>
                  <div></div>
                <% } else { %>
                  <div class="error"> <%= message%> </div> 
                <%}%>
              </div>
            </form> 
    
            
    

<script type="text/javascript">
  function getOption() {
    selectElement =
      document.querySelector('#select');

    output = selectElement.value;
    $('#organization').val(output)
    console.log(output)


  } 
</script>




<%- include ('../footerpage/footer') %>
