
  <%- include ('../navbarpage/navbar') %>
  
<a href="/admin/users" id="btn-admin" class="btn btn-primary" data-toggle="button" aria-pressed="false">
 Show Users
</a>
<a href="/admin/graphs"id="btn-admin" class="btn btn-primary" data-toggle="button" aria-pressed="false">
  Show Graphs
 </a>

<%- include ('../footerpage/footer') %>