<%- include ('../navbarpage/navbar') %>

   <h2> Readme for Mandatory II</h2>


<p>This mandatory assigment will be the base of a real Admin tool for a company Im working with so it is a good start base  </p>

<pre> 
<b>Features : </b>
    - Sign Up. Replaced age column with email for using nodemailer to send emails to users with confirmation.
    - Login
    - Admin page has a button "Show users" which show all users from database. Requires admin credentials.
    - Dashboard page. Requires login (Right now it displays the mandatory assigment)
    - Reset password (Sends email with confirmation)
    

</pre>


<%- include ('../footerpage/footer') %>