<%- include ('../navbarpage/navbar') %>
    <div class="container row">
        <div class="jumbotron col-sm-4 pull-center">
            <form action="/signup" method="post">
                
                <div>
                    <label>Username:</label>
                    <input id="username" type="text"  name="username" placeholder="username"/>
                </div>
                <div>
                    <br>
                    <label>Password:</label>
                    <input id="password" type="password" name="password" placeholder="password"/>
                </div>    
                <div>
                    <br>    
                    <label>Confirm password:</label>
                    <input id="passwordRepeat" type="password" name="passwordRepeat" placeholder="confirm password"/>
                </div>
                <div>
                    <br>
                    <label>Email:</label>
                    <br>
                    <input id="email" type="text" name="email" placeholder="email"/>
                </div>
                <div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Sign Up"/>
                </div>
                <br>
                
                <%if(typeof message == "undefined"){%>
                    <div></div>
                <% } else { %>
                    <div class="error"> <%= message%> </div> 
                <%}%>
            </form>                  
            <%- include ('../footerpage/footer') %>