
    </div>
    <footer>
        <p id="copyright-paragraph">Copyright  © </p>
    </footer>
    <script>
        const currentYear = new Date().getFullYear();
        $("#copyright-paragraph").text("Copyright © " + currentYear + " Upsmarting")
    </script>
  

  <script>
    $("#btn").click(function () {
        location.reload(true);
    });
    // $(document).ready(function () {
    //     $(form).on('submit', function () {
    //         location.reload();
    //     });
    // })
</script>

   
</body>
</html>