<%- include ('../navbarpage/navbar') %>
<p id="welcome" class="capitalize">Welcome <%= username %></p>
<img id="background-image" src="../images/Screenshot from 2020-05-24 20-05-22.png">

<%- include ('../footerpage/footer') %>

