<%- include ('../navbarpage/navbar') %>
<p id="welcome" class="capitalize">Welcome <%= username %></p>
<img id="background-image" src="/images/computer.png">

<%- include ('../footerpage/footer') %>

